.calendarContainer {
    color: var(--primary-color);
    width: 300px;
    font-weight: 550;
    min-height: 330px;
    height: 340px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.navButton {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.2s;
}

.optionMoth {
    border: 1px solid var(--primary-color);
}

.navButton:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.selectContainer {
    display: flex;
    gap: 8px;
}

.select {
    color: var(--primary-color);
    font-weight: 600;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #007bff;
}

.calendarDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
    flex-grow: 1;
}

.dayHeader {
    font-weight: bold;
    color: #555;
    padding: 5px;
    font-size: 14px;
}

.day {
    width: 30px;
    height: 30px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.day:hover {
    background-color: #e0e0e0;
}

.today {
    border: 2px solid var(--primary-color);
    background-color: #ffeb3b;
    color: #333;
}

.selected {
    background-color: #007bff;
    color: white;
}

.emptyDay {
    padding: 5px;
}

.slugOutput {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.slugLink {
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 25px;
    line-height: 28px;
    background-color: #007bff;
    color: #ffff;
    font-weight: 700;
}

.slugLink:hover {
    text-decoration: underline;
}




.selected {
    border: 2px solid var(--primary-color);
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.day {
    cursor: pointer;
    padding: 5px;
}

.day:hover {
    background-color: #007bff;
    color: var(--color-white);
}


/* Responsive Styles */

/* PC */
@media screen and (min-width: 992px) {
    .calendarContainerMobile {
        display: none;
    }

    .iconMenu {
        display: none;
    }
}



/*Tablet and mobile */
@media screen and (max-width: 991px) {
    .calendarContainer {
        display: none;
    }

    .calendarContainerMobile {
        color: var(--primary-color);
        width: 300px;
        font-weight: 550;
        min-height: 330px;
        height: 340px;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        padding: 10px;
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        visibility: hidden;
        top: 70px;
        right: 30px;
        z-index: 100;
        transition: all 0.5s ease;
        position: absolute;
    }


    .CalendarToggle {
        visibility: visible;
    }

    .iconMenu {
        position: absolute;
        display: block;
        top: 20px;
        right: 10px;
        width: 60px;
        font-size: 40px;
        color: var(--primary-color);
    }

    .iconMenu:hover {
        color: var(--background-color);
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width:991.98px) {}

/* Mobile */
@media screen and (max-width: 767px) {
    .nav_itemLink {
        padding: 0 12px;
        font-size: 14px;
    }

    .nav__menu {
        min-width: 150px;
    }
}