.containerKQ {
    margin-left: auto;
    margin-right: auto;
    width: 656px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.kqxs {
    width: 656px;
    border: 3px solid #2d3483;
    border-radius: 8px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
}




.span0 {
    width: 650px;
    border-top: 1px solid #ccc;
}

.span0,
.span1,
.span2,
.span3,
.span4 {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
}

.span1 {
    width: 605px;
}

.span2 {
    width: 302.5px;
}

.span3 {
    width: 201.6px;
}

.g3 {
    border-bottom: none;
}

.span4 {
    width: 151.3px;
}

.g5 {
    border: none;
    outline: none;
}

.kqxs__title {
    color: #2d3483;
    font-size: 26px;
    font-weight: 600;
}

.kqxs__title span {
    text-transform: uppercase;
}

.action {
    margin-top: 40px;
}

.kqxs__action {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.kqxs__actionLink {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 10px;
    font-weight: 500;
    text-decoration: underline;
}

.kqxs__actionLink.dayOfWeek {
    text-transform: none;
}

.kqxs__actionLink:hover {
    color: red;
}

.tableXS td {
    border-right: 1px solid #ccc;
    font-weight: 800;
}

.tableXS tr {
    display: flex;
}

.code {
    font-size: 20px;
    color: #685dd8;
}

.tableXS td:not(.code, .tdTitle, .highlight) {
    font-size: 28px;
}

.giaiba {
    display: flex;
    flex-wrap: wrap;



}

.giaiba2 {
    border: 1px solid #fff;
}


.tableXS {
    border-collapse: collapse;
    text-align: center;
    width: 100%;

}

.tableXS td:not(.tdTitle):hover {
    background-color: #fff4c3;
}

.tableXS tr:nth-child(3),
.tableXS tr:nth-child(5),
.tableXS tr:nth-child(6),
.tableXS tr:nth-child(8),
.tableXS tr:nth-child(9),
.tableXS tr:nth-child(11) {
    background-color: #F8F8F8;
}

.tdTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 45px;
    height: 45px;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

.rowKQ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.g3 {
    border-bottom: none;
}


.tdTitle.tdspecial,
.highlight {
    color: red;
    font-size: 28px;
}

.highlight.gdb {
    font-size: 30px;
}

.filter__options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border: 2px solid var(--primary-color);
    width: 500px;
    height: 50px;
    border-radius: 6px;
    margin: 0 auto;
}

.optionInput input {
    display: none;
}

.optionInput label {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}

.optionInput label::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    left: -30px;
    border-radius: 50%;
    border: 2px solid var(--color-xam);
}

.optionInput input[type='radio']:checked+label::before {
    background-color: transparent;
    border: 2px solid #000;
}

.optionInput input[type='radio']:checked+label::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    top: 2px;
    left: -25.5px;
    z-index: 1;
    border-radius: 50%;
    background-color: var(--primary-color)
}


/*------------------- Table Thống Kê */
.TKe_content {
    margin-left: auto;
    margin-right: auto;
    width: 656px;
    border: 1px solid #ccc;
    border-right: 4px solid #ccc;
    margin-bottom: 50px;
}

.TKe_contentTitle {
    padding: 10px 0;
    text-align: center;
}

.TKe_contentTitle .title {
    font-weight: 600;
    font-style: italic;
}

.TKe_contentTitle .desc,
.TKe_contentTitle .dayOfWeek {
    color: #2d3483;
    font-weight: 700;
    font-style: italic;
}

.TKe_contentTitle .desc {
    text-transform: uppercase;
    margin-right: 20px;
}

.tableKey {
    border-collapse: collapse;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
}

.tableKey td {
    border: 1px solid #ccc;
    width: 290px;
    text-align: center;
    font-weight: 600;
}

.tableKey tr:nth-child(even) {
    background-color: #F8F8F8;
}

.tableKey td:nth-child(odd) {
    background-color: #685dd821;
}

.tableKey .t_h {
    width: 50px;
    padding: 10px 0;
    font-weight: 700;
}